.root {
  display: flex;
  width: 875px;
  height: 177px;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 8px;
}
.freeBox {
  display: flex;
  position: relative;
  margin-right: 0px;
  margin-left: 49px;
}
.img___4Gjj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 158px;
  margin-left: 0;
  flex-shrink: 0;
}
.img___4Gjj > picture > img {
  object-fit: cover;
}
