.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__g2Iiy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 733px;
  height: 6283px;
  max-width: 100%;
  padding: 8px 8px 22px;
}
.text__d8A4K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: center;
  font-size: 35px;
  min-width: 0;
}
.text___0BaLg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #82d5ae;
  text-align: left;
  font-size: 30px;
  min-width: 0;
}
.text___9Mo1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  min-width: 0;
}
.selectOfPain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 546px;
  flex-grow: 0;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__hv8KB {
  font-size: 30px;
}
.freeBox__eedQx {
  display: flex;
  position: relative;
  width: 875px;
  height: 269px;
  max-width: 100%;
  flex-direction: row;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 8px;
}
.img__xUeUr {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  margin-right: 29px;
  margin-left: 49px;
  left: auto;
  top: auto;
  position: relative;
}
.img__xUeUr > picture > img {
  object-fit: cover;
}
.qianquRom {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  min-width: 0;
}
.text___2UZgC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__s5Gmj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 256px;
  flex-shrink: 0;
}
.img__i7ZaS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 158px;
  margin-left: 0;
}
.img__i7ZaS > picture > img {
  object-fit: cover;
}
.text__sHcox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__upVOh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__xcls {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 158px;
  margin-left: 0;
}
.img__xcls > picture > img {
  object-fit: cover;
}
.text__qkKIt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  min-width: 0;
}
.text__f19Rn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles___5QEt4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__ldDoV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 158px;
  margin-left: 0;
}
.img__ldDoV > picture > img {
  object-fit: cover;
}
.text__gKjfG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__q4B0J:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__xd7Qh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 158px;
  margin-left: 0;
}
.img__xd7Qh > picture > img {
  object-fit: cover;
}
.text__m61Un {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  min-width: 0;
}
.text___2QwDq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__qJPdw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__wn8BP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 158px;
  margin-left: 0;
}
.img__wn8BP > picture > img {
  object-fit: cover;
}
.text__hargx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__ye3K:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__mCrCl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 158px;
  margin-left: 0;
}
.img__mCrCl > picture > img {
  object-fit: cover;
}
.text__lxf9Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  min-width: 0;
}
.text__wSk5F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__zNYx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__jVul {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 158px;
  margin-left: 0;
}
.img__jVul > picture > img {
  object-fit: cover;
}
.text__kZmoP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__xlCgJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__wxdGw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 158px;
  margin-left: 0;
}
.img__wxdGw > picture > img {
  object-fit: cover;
}
.text__dmWi4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  padding-top: 0px;
  min-width: 0;
}
.text__p7C17 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__yjb9Q:global(.__wab_instance) {
  position: relative;
  margin-bottom: 41px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .uploadFiles__yjb9Q:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__hhTh8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 158px;
  margin-left: 0;
}
.img__hhTh8 > picture > img {
  object-fit: cover;
}
.text__wwpEf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__jxNT:global(.__wab_instance) {
  position: relative;
  margin-bottom: 41px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .uploadFiles__jxNT:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__tZhCg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 158px;
  margin-left: 0;
}
.img__tZhCg > picture > img {
  object-fit: cover;
}
.text__k8ImW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  padding-top: 0px;
  margin-top: 8px;
  min-width: 0;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 546px;
  flex-grow: 0;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__uLt60 {
  font-size: 30px;
}
.columns__zUtBo {
  --plsmc-rc-col-gap: 0px;
}
.columns__zUtBo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__zUtBo > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__zUtBo > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zUtBo {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zUtBo > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uolJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__aL0Bt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.column__jhLtF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__uqugk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 29px;
  width: 158px;
  margin-left: 49px;
}
.img__uqugk > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uqugk {
    left: auto;
    top: auto;
  }
}
.columns__vnlAb {
  --plsmc-rc-col-gap: 0px;
}
.columns__vnlAb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__vnlAb > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__vnlAb > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vnlAb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vnlAb > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rYk1L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__fzjKx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  padding-left: 0px;
  min-width: 0;
}
.column__qMvDn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__uJKda {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 29px;
  width: 158px;
  margin-left: 49px;
}
.img__uJKda > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uJKda {
    left: auto;
    top: auto;
  }
}
.columns__u9Tkl {
  --plsmc-rc-col-gap: 0px;
}
.columns__u9Tkl {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__u9Tkl > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__u9Tkl > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u9Tkl {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u9Tkl > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___9Ob1B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gOav {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.column__is3Yx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__xr7Ye {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 29px;
  width: 158px;
  margin-left: 49px;
}
.img__xr7Ye > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xr7Ye {
    left: auto;
    top: auto;
  }
}
.columns__e5Tn {
  --plsmc-rc-col-gap: 0px;
}
.columns__e5Tn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__e5Tn > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__e5Tn > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__e5Tn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__e5Tn > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ozp5M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gvE5A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.column__qddL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__joDkQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 29px;
  width: 158px;
  margin-left: 49px;
}
.img__joDkQ > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__joDkQ {
    left: auto;
    top: auto;
  }
}
.columns__vMbq3 {
  --plsmc-rc-col-gap: 0px;
}
.columns__vMbq3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__vMbq3 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__vMbq3 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vMbq3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vMbq3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rjMEi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__nsHd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.column__rdonp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__sz5EE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 29px;
  width: 158px;
  margin-left: 49px;
}
.img__sz5EE > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__sz5EE {
    left: auto;
    top: auto;
  }
}
.columns__dm6Pc {
  --plsmc-rc-col-gap: 0px;
}
.columns__dm6Pc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__dm6Pc > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__dm6Pc > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dm6Pc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dm6Pc > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nUuy9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___7APOs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.column__yx2Sp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__a6Phi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 29px;
  width: 158px;
  margin-left: 49px;
}
.img__a6Phi > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__a6Phi {
    left: auto;
    top: auto;
  }
}
.text__cw5M5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__npTi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__cz1Bu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.segmented:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.segmentedOption__yTkQt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__uiaHt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__uiaHt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__uiaHt > :global(.__wab_flex-container) > *,
.freeBox__uiaHt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uiaHt > :global(.__wab_flex-container) > picture > img,
.freeBox__uiaHt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img__dkbwq {
  object-fit: contain;
  opacity: 0.5;
}
.img__dkbwq > picture > img {
  object-fit: contain;
}
.text___9Vg0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.segmentedOption__rKrpK:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__eSpgO {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__eSpgO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__eSpgO > :global(.__wab_flex-container) > *,
.freeBox__eSpgO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eSpgO > :global(.__wab_flex-container) > picture > img,
.freeBox__eSpgO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img___2QiZs {
  object-fit: contain;
  opacity: 0.5;
}
.img___2QiZs > picture > img {
  object-fit: contain;
}
.text__wYinB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__yHiN0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__nrdoC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.segmented4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.segmentedOption__sgwXg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__vWUiF {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vWUiF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__vWUiF > :global(.__wab_flex-container) > *,
.freeBox__vWUiF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vWUiF > :global(.__wab_flex-container) > picture > img,
.freeBox__vWUiF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img__xriRw {
  object-fit: contain;
  opacity: 0.5;
}
.img__xriRw > picture > img {
  object-fit: contain;
}
.text___7ZYrw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.segmentedOption__fjcAc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__l0Mrr {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__l0Mrr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__l0Mrr > :global(.__wab_flex-container) > *,
.freeBox__l0Mrr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l0Mrr > :global(.__wab_flex-container) > picture > img,
.freeBox__l0Mrr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img__sduRv {
  object-fit: contain;
  opacity: 0.5;
}
.img__sduRv > picture > img {
  object-fit: contain;
}
.text__epdb8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__dG3Xt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__yZyC3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.segmented5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.segmentedOption__p12T3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__xfJtN {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xfJtN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__xfJtN > :global(.__wab_flex-container) > *,
.freeBox__xfJtN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xfJtN > :global(.__wab_flex-container) > picture > img,
.freeBox__xfJtN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img__zg2Er {
  object-fit: contain;
  opacity: 0.5;
}
.img__zg2Er > picture > img {
  object-fit: contain;
}
.text__fYw0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.segmentedOption__c5F0C:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__z0Emg {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__z0Emg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__z0Emg > :global(.__wab_flex-container) > *,
.freeBox__z0Emg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z0Emg > :global(.__wab_flex-container) > picture > img,
.freeBox__z0Emg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img___3UuTo {
  object-fit: contain;
  opacity: 0.5;
}
.img___3UuTo > picture > img {
  object-fit: contain;
}
.text__aqSzr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___7Oan4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__dkMj2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.segmented6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.segmentedOption__azyzF:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ewTBi {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ewTBi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__ewTBi > :global(.__wab_flex-container) > *,
.freeBox__ewTBi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ewTBi > :global(.__wab_flex-container) > picture > img,
.freeBox__ewTBi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img__oyJ9Y {
  object-fit: contain;
  opacity: 0.5;
}
.img__oyJ9Y > picture > img {
  object-fit: contain;
}
.text__erxj5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.segmentedOption__gUck:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__aMZdU {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__aMZdU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__aMZdU > :global(.__wab_flex-container) > *,
.freeBox__aMZdU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aMZdU > :global(.__wab_flex-container) > picture > img,
.freeBox__aMZdU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img__ni0VM {
  object-fit: contain;
  opacity: 0.5;
}
.img__ni0VM > picture > img {
  object-fit: contain;
}
.text___4Jltx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___9LfeL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__iTtvP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.segmented7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.segmentedOption__prB6Z:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ix0Zv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ix0Zv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__ix0Zv > :global(.__wab_flex-container) > *,
.freeBox__ix0Zv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ix0Zv > :global(.__wab_flex-container) > picture > img,
.freeBox__ix0Zv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img__xvi4O {
  object-fit: contain;
  opacity: 0.5;
}
.img__xvi4O > picture > img {
  object-fit: contain;
}
.text__o3MWv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.segmentedOption__sViv8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___7X6Z9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___7X6Z9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox___7X6Z9 > :global(.__wab_flex-container) > *,
.freeBox___7X6Z9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7X6Z9 > :global(.__wab_flex-container) > picture > img,
.freeBox___7X6Z9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img__dHxR {
  object-fit: contain;
  opacity: 0.5;
}
.img__dHxR > picture > img {
  object-fit: contain;
}
.text__haB0Q {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___2OPUy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__tanQj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.segmented8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.segmentedOption__f4E5R:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jCxJs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jCxJs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__jCxJs > :global(.__wab_flex-container) > *,
.freeBox__jCxJs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jCxJs > :global(.__wab_flex-container) > picture > img,
.freeBox__jCxJs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img__hOik {
  object-fit: contain;
  opacity: 0.5;
}
.img__hOik > picture > img {
  object-fit: contain;
}
.text__v4DAn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.segmentedOption__xrLpm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__n1Oce {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__n1Oce > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__n1Oce > :global(.__wab_flex-container) > *,
.freeBox__n1Oce > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n1Oce > :global(.__wab_flex-container) > picture > img,
.freeBox__n1Oce
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img__iX57I {
  object-fit: contain;
  opacity: 0.5;
}
.img__iX57I > picture > img {
  object-fit: contain;
}
.text__xYr1X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___0Bvqd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__vmshr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.segmented9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.segmentedOption__gZsm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__sqKar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__sqKar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__sqKar > :global(.__wab_flex-container) > *,
.freeBox__sqKar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sqKar > :global(.__wab_flex-container) > picture > img,
.freeBox__sqKar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img__y93Zd {
  object-fit: contain;
  opacity: 0.5;
}
.img__y93Zd > picture > img {
  object-fit: contain;
}
.text__uoeTa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.segmentedOption__biuF5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___2Z {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___2Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox___2Z > :global(.__wab_flex-container) > *,
.freeBox___2Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Z > :global(.__wab_flex-container) > picture > img,
.freeBox___2Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img__cCTu {
  object-fit: contain;
  opacity: 0.5;
}
.img__cCTu > picture > img {
  object-fit: contain;
}
.text__yKMc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zqpbp {
  font-size: 30px;
}
.svg__qQ8R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
