.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__g2Iiy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 733px;
  height: 6283px;
  max-width: 100%;
  padding: 8px 8px 22px;
}
.text__d8A4K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: center;
  font-size: 35px;
  min-width: 0;
}
.text___0BaLg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #82d5ae;
  text-align: left;
  font-size: 30px;
  min-width: 0;
}
.text___9Mo1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  min-width: 0;
}
.askPain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 546px;
  flex-grow: 0;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__hv8KB {
  font-size: 30px;
}
.freeBox__eedQx {
  display: flex;
  position: relative;
  width: 875px;
  height: 269px;
  max-width: 100%;
  flex-direction: row;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 8px;
}
.img__xUeUr {
  object-fit: contain;
  max-width: 100%;
  width: 366px;
  margin-right: 29px;
  margin-left: 49px;
  left: auto;
  top: auto;
  position: relative;
  height: 184px;
  flex-shrink: 0;
}
.img__xUeUr > picture > img {
  object-fit: contain;
}
.text___8ToWb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  min-width: 0;
}
.text___2UZgC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__xbUza:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__uofEv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 110px;
  margin-left: 0;
  height: 110px;
}
.img__uofEv > picture > img {
  object-fit: cover;
}
.upload__cGb1W:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.shoulderFlexionArom:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  text-align: left;
  left: auto;
  top: auto;
  z-index: auto;
  flex-shrink: 1;
  overflow: hidden;
  width: 299px;
  height: 179px;
}
.img__zoppB {
  object-fit: fill;
  max-width: 100%;
  width: 80px;
  height: 60px;
}
.img__zoppB > picture > img {
  object-fit: fill;
}
.text__sHcox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__upVOh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
  flex-shrink: 0;
}
.img__xcls {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 110px;
  margin-left: 0;
  height: 110px;
}
.img__xcls > picture > img {
  object-fit: cover;
}
.upload__aE2X7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.shoulderFlexionProm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  text-align: left;
  left: auto;
  top: auto;
  z-index: auto;
  flex-shrink: 1;
  overflow: hidden;
  width: 299px;
  height: 100%;
  min-height: 0;
}
.img___9PKnW {
  object-fit: fill;
  max-width: 100%;
  width: 80px;
  height: 60px;
}
.img___9PKnW > picture > img {
  object-fit: fill;
}
.text__qkKIt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  min-width: 0;
}
.text__f19Rn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__cb7G7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__sk4Lv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 110px;
  margin-left: 0;
  height: 110px;
}
.img__sk4Lv > picture > img {
  object-fit: cover;
}
.upload__qjVj3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.shoulderAbductionArom:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  text-align: left;
  left: auto;
  top: auto;
  z-index: auto;
  flex-shrink: 1;
  overflow: hidden;
  width: 299px;
  height: 100%;
  min-height: 0;
}
.img__vNoGx {
  object-fit: fill;
  max-width: 100%;
  width: 80px;
  height: 60px;
}
.img__vNoGx > picture > img {
  object-fit: fill;
}
.text__gKjfG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles___10W71:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__sMCnl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 110px;
  margin-left: 0;
  height: 110px;
}
.img__sMCnl > picture > img {
  object-fit: cover;
}
.upload__glGHq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.shoulderAbductionProm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  text-align: left;
  left: auto;
  top: auto;
  z-index: auto;
  flex-shrink: 1;
  overflow: hidden;
  width: 299px;
  height: 100%;
  min-height: 0;
}
.img__uVpFr {
  object-fit: fill;
  max-width: 100%;
  width: 80px;
  height: 60px;
}
.img__uVpFr > picture > img {
  object-fit: fill;
}
.text__m61Un {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  min-width: 0;
}
.text___2QwDq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__wqklH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__xTwG5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 110px;
  margin-left: 0;
  height: 110px;
}
.img__xTwG5 > picture > img {
  object-fit: cover;
}
.upload__qpvcP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.shoulderLateralRotationArom:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  text-align: left;
  left: auto;
  top: auto;
  z-index: auto;
  flex-shrink: 1;
  overflow: hidden;
  width: 299px;
  height: 100%;
  min-height: 0;
}
.img__qTtTv {
  object-fit: fill;
  max-width: 100%;
  width: 80px;
  height: 60px;
}
.img__qTtTv > picture > img {
  object-fit: fill;
}
.text__hargx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__rNc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__qDtuq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 110px;
  margin-left: 0;
  height: 110px;
}
.img__qDtuq > picture > img {
  object-fit: cover;
}
.upload__oOpg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.shoulderLateralRotationProm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  text-align: left;
  left: auto;
  top: auto;
  z-index: auto;
  flex-shrink: 1;
  overflow: hidden;
  width: 299px;
  height: 100%;
  min-height: 0;
}
.img__rqv3V {
  object-fit: fill;
  max-width: 100%;
  width: 80px;
  height: 60px;
}
.img__rqv3V > picture > img {
  object-fit: fill;
}
.text__lxf9Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  min-width: 0;
}
.text__wSk5F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__mayEz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
  flex-shrink: 0;
}
.img__haHM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 110px;
  margin-left: 0;
  height: 110px;
}
.img__haHM > picture > img {
  object-fit: cover;
}
.upload___1MQv1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.shoulderMedialRotationArom:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  text-align: left;
  left: auto;
  top: auto;
  z-index: auto;
  flex-shrink: 1;
  overflow: hidden;
  width: 299px;
  height: 100%;
  min-height: 0;
}
.img___0Ce9P {
  object-fit: fill;
  max-width: 100%;
  width: 80px;
  height: 60px;
}
.img___0Ce9P > picture > img {
  object-fit: fill;
}
.text__kZmoP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__rrXuE:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__o4YOj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 110px;
  margin-left: 0;
  height: 110px;
}
.img__o4YOj > picture > img {
  object-fit: cover;
}
.upload__dFs2K:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.shoulderMedialRotationProm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  text-align: left;
  left: auto;
  top: auto;
  z-index: auto;
  flex-shrink: 1;
  overflow: hidden;
  width: 299px;
  height: 100%;
  min-height: 0;
}
.img___2RjD {
  object-fit: fill;
  max-width: 100%;
  width: 80px;
  height: 60px;
}
.img___2RjD > picture > img {
  object-fit: fill;
}
.text__dmWi4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  padding-top: 0px;
  min-width: 0;
}
.text__p7C17 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__rhDUr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__iBmlc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 110px;
  margin-left: 0;
}
.img__iBmlc > picture > img {
  object-fit: cover;
}
.upload__nqXnK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.shoulderExtensionArom:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  text-align: left;
  left: auto;
  top: auto;
  z-index: auto;
  flex-shrink: 1;
  overflow: hidden;
  width: 299px;
  height: 100%;
  min-height: 0;
}
.img___2E2Xa {
  object-fit: fill;
  max-width: 100%;
  width: 80px;
  height: 60px;
}
.img___2E2Xa > picture > img {
  object-fit: fill;
}
.text__wwpEf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  color: #000000;
  min-width: 0;
}
.uploadFiles__oi1CA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.img__zs9Au {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 0;
  width: 110px;
  margin-left: 0;
}
.img__zs9Au > picture > img {
  object-fit: cover;
}
.upload__isFjy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: center;
}
.shoulderExtensionProm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  text-align: left;
  left: auto;
  top: auto;
  z-index: auto;
  flex-shrink: 1;
  overflow: hidden;
  width: 299px;
  height: 100%;
  min-height: 0;
}
.img__mWpRa {
  object-fit: fill;
  max-width: 100%;
  width: 80px;
  height: 60px;
}
.img__mWpRa > picture > img {
  object-fit: fill;
}
.text__k8ImW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  padding-top: 0px;
  margin-top: 8px;
  min-width: 0;
}
.askMuscleStrength:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 546px;
  flex-grow: 0;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__uLt60 {
  font-size: 30px;
}
.columns__zUtBo {
  --plsmc-rc-col-gap: 0px;
}
.columns__zUtBo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__zUtBo > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__zUtBo > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zUtBo {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zUtBo > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uolJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__aL0Bt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.column__jhLtF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__uqugk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 29px;
  width: 110px;
  margin-left: 49px;
  height: 110px;
  flex-shrink: 0;
}
.img__uqugk > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uqugk {
    left: auto;
    top: auto;
  }
}
.columns__vnlAb {
  --plsmc-rc-col-gap: 0px;
}
.columns__vnlAb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__vnlAb > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__vnlAb > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vnlAb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vnlAb > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rYk1L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__fzjKx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  padding-left: 0px;
  min-width: 0;
}
.column__qMvDn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__uJKda {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 29px;
  width: 110px;
  margin-left: 49px;
  height: 110px;
  flex-shrink: 0;
}
.img__uJKda > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uJKda {
    left: auto;
    top: auto;
  }
}
.columns__u9Tkl {
  --plsmc-rc-col-gap: 0px;
}
.columns__u9Tkl {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__u9Tkl > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__u9Tkl > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u9Tkl {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u9Tkl > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___9Ob1B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gOav {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.column__is3Yx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__xr7Ye {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 29px;
  width: 110px;
  margin-left: 49px;
  height: 110px;
  flex-shrink: 0;
}
.img__xr7Ye > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xr7Ye {
    left: auto;
    top: auto;
  }
}
.columns__e5Tn {
  --plsmc-rc-col-gap: 0px;
}
.columns__e5Tn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__e5Tn > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__e5Tn > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__e5Tn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__e5Tn > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ozp5M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gvE5A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.column__qddL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__joDkQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 29px;
  width: 110px;
  margin-left: 49px;
  height: 110px;
  flex-shrink: 0;
}
.img__joDkQ > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__joDkQ {
    left: auto;
    top: auto;
  }
}
.columns__bYgtf {
  --plsmc-rc-col-gap: 0px;
}
.columns__bYgtf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__bYgtf > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__bYgtf > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bYgtf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__bYgtf > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__h9W9N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__r9SMf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.column___4Dch {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__g4Wm0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 29px;
  width: 110px;
  margin-left: 49px;
  height: 110px;
  flex-shrink: 0;
}
.img__g4Wm0 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__g4Wm0 {
    left: auto;
    top: auto;
  }
}
.columns__dm6Pc {
  --plsmc-rc-col-gap: 0px;
}
.columns__dm6Pc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__dm6Pc > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__dm6Pc > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dm6Pc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dm6Pc > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nUuy9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___7APOs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  min-width: 0;
}
.column__yx2Sp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__a6Phi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-right: 29px;
  width: 110px;
  margin-left: 49px;
  height: 110px;
  flex-shrink: 0;
}
.img__a6Phi > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__a6Phi {
    left: auto;
    top: auto;
  }
}
.text__cw5M5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #000000;
  text-align: left;
  font-size: 30px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__npTi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__cz1Bu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  min-width: 0;
}
.askAdLofGettingDressed:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 701px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 8px;
}
.radio___6SYbu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__tEpbp {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tEpbp {
    font-size: 18px;
  }
}
.radio___5NwUj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__e36C {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
.radio__bHywi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__li5Uz {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
.freeBox__yHiN0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__nrdoC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  min-width: 0;
}
.askAdLofCombing:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 722px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 8px;
}
.radio__jEmm5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text___9MRrD {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9MRrD {
    font-size: 18px;
  }
}
.radio__gshWp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__dnPd1 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
.radio__awvBu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__qv3Cs {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
.freeBox__dG3Xt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__yZyC3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  min-width: 0;
}
.askAdLofTurnDownTheCollar:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 701px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 8px;
}
.radio__yZnBm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__dxfJh {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dxfJh {
    font-size: 18px;
  }
}
.radio___3Uq2A:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__dp6Y4 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
.radio___3O5Ff:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 20px;
}
.text__bwfB3 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
.freeBox___7Oan4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__dkMj2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  min-width: 0;
}
.askAdLofWearingAnApron:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 701px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 8px;
}
.radio__ci9IR:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__b5Hlo {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__b5Hlo {
    font-size: 18px;
  }
}
.radio__rRteN:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__qHyAn {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
.radio__alu2U:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__q1WPl {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
.freeBox___9LfeL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__iTtvP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  min-width: 0;
}
.askAdLofUsingToiletPaper:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 701px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 8px;
}
.radio__ex09L:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__u3KoR {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u3KoR {
    font-size: 18px;
  }
}
.radio__mG13G:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__hTh8R {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
.radio__pm4T5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__mAqby {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
.freeBox___2OPUy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__tanQj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  min-width: 0;
}
.askAdLofRubbingTheOppositeArmpit:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 701px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 8px;
}
.radio__uuByX:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__llZt9 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__llZt9 {
    font-size: 18px;
  }
}
.radio__fapUz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text___1TxPc {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
.radio__pa7Ri:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text___5Eb97 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
}
.freeBox___0Bvqd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__vmshr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  min-width: 0;
}
.askAdLofFasteningTheBelt:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 701px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 8px;
}
.radio___0A3S1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__cOlTh {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cOlTh {
    font-size: 18px;
  }
}
.radio__pYrE:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text___3Tbmo {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
.radio___3BOr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
}
.text__yq2Fr {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
  min-height: 0;
}
.text__lVylM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.tooltip:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.button__nsdFk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zqpbp {
  font-size: 30px;
}
.svg__kLjhW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__lilXa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__cwiSb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__dh9U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__db9ZC {
  font-size: 30px;
}
.freeBox__xnuxM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xnuxM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xnuxM > :global(.__wab_flex-container) > *,
.freeBox__xnuxM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xnuxM > :global(.__wab_flex-container) > picture > img,
.freeBox__xnuxM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__iP7Al {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  margin-top: calc(24px + 8px) !important;
  min-width: 0;
}
.button__wry5U:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-top: calc(29px + 8px) !important;
  width: 88px;
  height: 43px;
  background: var(--token-DbGdjBpQ6R_X);
  flex-shrink: 0;
}
.text__h9YDd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  min-width: 0;
}
